<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('index') }}">Ear trainer</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if app.user %}
                    {% include "partials/_menu-link.html.twig" with {
                        id: 'index',
                        icon: 'bi bi-house-fill',
                        url_path: 'index',
                        label: 'ui.sidebar.home.label',
                    } only %}

                    {% set dropdown = [] %}
                    {% for item in courses %}
                        {% set dropdown = dropdown|merge([{url_path: 'course_show', url_parameters: { 'slug': item.slug }, label: item.name}]) %}
                    {% endfor %}
                    {% include "partials/_menu-link.html.twig" with {
                        id: 'courses',
                        icon: 'bi bi-book-half',
                        url_path: 'course_index',
                        label: 'ui.sidebar.courses.label',
                        first_item_label: 'ui.sidebar.courses.about',
                        dropdown: dropdown,
                    } only %}
                    {% include "partials/_menu-link.html.twig" with {
                        id: 'ranking',
                        icon: 'bi bi-award',
                        url_path: 'ranking_index',
                        label: 'ui.sidebar.ranking.label',
                    } only %}
                {% endif %}
            </ul>
        </div>

        <div class="d-flex">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if userData is defined %}
                    <div class="awards d-flex gap-1 me-1 align-items-center">
                        {% for award in userData.awards %}
                            <div class="award">
                                <i class="{{ award.icon }}"></i>
                                <div class="award-tooltip">{{ award.label|trans }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="level d-flex gap-1 me-3 align-items-center">
                        <div class="level-number">
                            <i class="fa fa-star"></i>
                            <span>{{ userData.level }}</span>
                        </div>
                        <div class="level-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ userData.currentExperience / userData.experienceToLevelUp * 100 }}%"
                                     aria-valuenow="{{ userData.currentExperience }}" aria-valuemin="0"
                                     aria-valuemax="{{ userData.experienceToLevelUp }}"></div>
                            </div>
                            <div class="progress-tooltip">
                                {{ userData.currentExperience }} / {{ userData.experienceToLevelUp }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="text-white me-2 d-flex gap-1 align-items-center">

                    {{ app.user.username }}
                </div>
                <div class="d-flex gap-1 me-3 align-items-center">
                    <a class="text-decoration-none text-white" href="{{ url('app_security_edit') }}" title="{{ 'ui.action.edit.user'|trans }}"><i
                                class="bi bi-gear"></i>
                    </a>
                    <a class="text-white" href="{{ url('app_logout') }}" title="{{ 'ui.action.logout'|trans }}"><i
                                class="bi bi-box-arrow-right"></i></a>
                </div>
            {% else %}
                <div class="d-flex gap-1 me-3 align-items-center">
                    <a class="text-white btn" href="{{ url('app_login') }}">{{ 'ui.action.login'|trans }}</a>
                </div>
                <div class="d-flex gap-1 me-3 align-items-center">
                    <a class="text-white btn btn-primary"
                       href="{{ url('app_register') }}">{{ 'ui.action.register'|trans }}</a>
                </div>
            {% endif %}
        </div>

        {% if app.user %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}
    </div>
</nav>