{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.nodes.show'|trans({'%nodeName%': node.name}) }}
{% endblock %}

{% block body %}
    <div class="d-flex gap-3 mb-3 align-items-center">
        <h1 class="custom-underline">{{ 'ui.page_header.nodes.show'|trans({'%nodeName%': node.name}) }}
            | {{ node.course.name }}</h1>

        {% if is_granted("ROLE_ADMIN") %}

            <a href="{{ url('node_update', {'slug': course.slug, 'nodeSlug': node.slug}) }}" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                {{ "ui.action.edit.node"|trans }}
            </a>

            <a href="{{ url('node_delete', {'slug': course.slug, 'nodeSlug': node.slug}) }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
                {{ "ui.action.delete.node"|trans }}
            </a>
        {% endif %}
    </div>

    {% if node.description %}
        <p class="mb-5">{{ node.description }}</p>
    {% endif %}


    {% if tasks|length > 0 %}
        <div class="table-responsive">
            <table class="tasks table table-striped table-dark">
                <thead>
                <tr>
                    <th>{{ "ui.task.number"|trans }}</th>
                    <th>{{ "ui.task.name"|trans }}</th>
                    <th>{{ "ui.task.description"|trans }}</th>
                    <th>{{ "ui.task.type"|trans }}</th>
                    <th>{{ "ui.task.points"|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                <tbody>
                {% for task in tasks %}
                    <tr class="task{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}">
                        <td>{{ loop.index }}.</td>
                        <td>
                            <a class="node-link"
                               href="{{ url('task_show', {'slug': course.slug, 'nodeSlug': node.slug, 'taskSlug': task.slug }) }}"
                            >
                                <span class="task-name">{{ task.name }}</span>
                            </a>
                        </td>
                        <td>
                            {% if task.description %}
                                <p class="task-description">{{ task.description }}</p>
                            {% endif %}
                        </td>
                        <td>
                            {{ ('ui.taskType.' ~ task.type.value)|trans }}
                        </td>
                        <td>
                            {{ 'ui.task.points_number'|trans({'%points%': task.points }) }}
                            {% if task.isCompleted == true %}
                                {{ 'ui.task.points_original_number'|trans({'%points%': task.originalPoints }) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted("ROLE_ADMIN") %}

                                <a
                                        href="{{ url('task_update', {'slug': course.slug, 'nodeSlug': node.slug, 'taskSlug': task.slug}) }}"
                                        class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i>
                                    {{ "ui.action.edit.task"|trans }}
                                </a>

                                <a
                                        href="{{ url('task_delete', {'slug': course.slug, 'nodeSlug': node.slug, 'taskSlug': task.slug}) }}"
                                        class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                    {{ "ui.action.delete.task"|trans }}
                                </a>

                            {% endif %}

                            {% if task.isCompleted == true %}
                                <span class="badge bg-success">{{ "ui.task.completed"|trans }}</span>
                            {% else %}
                                <span class="badge bg-info">{{ "ui.task.not_completed"|trans }}</span>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
        {% if taskTypes|length %}
            <div class="container-fluid d-flex justify-content-center inject-new-task__wrapper">

                {% for taskType in taskTypes %}

                    <a class="inject-new-task"
                       href="{{ url('task_create', {'slug': course.slug, 'nodeSlug': node.slug, 'type': taskType.type }) }}"><i
                                class="bi bi-patch-plus-fill"></i>
                        <div class="inject-new-task__tooltip">{{ taskType.label }}</div>
                    </a>

                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}