{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.courses.index'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex gap-3 mb-3 align-items-center">
        <h1>{{ 'ui.page_header.courses.index'|trans }}</h1>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ url('course_create') }}" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>
                {{ "ui.action.add.course"|trans }}
            </a>
        {% endif %}
    </div>

    <div class="container">
        <p class="mb-5 mt-5">
            {{ 'ui.course.about'|trans }}
        </p>
        <div class="courses row gx-5">
            {% for course in courses %}
                <div class="mb-3 col-12 col-md-4 col-lg-4">
                    <div class="card-body">
                        <a href="{{ url('course_show', {'slug': course.slug }) }}">
                            <h5 class="card-title">{{ course.name }}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
