{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.courses.index'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex gap-3 mb-3 align-items-center">
        <h1>{{ 'ui.page_header.courses.index'|trans }}</h1>
        <a href="{{ url('course_create') }}" class="btn btn-primary">
            <i class="bi bi-plus-square"></i>
            {{ "ui.action.add.course"|trans }}
        </a>
    </div>

    <div class="container">

        <div class="courses row gx-5">
            {% for course in courses %}
                <div class="mb-3 col-12 col-md-6 col-lg-3">
                    <div class="card-body">
                        <a href="{{ url('course_show', {'slug': course.slug }) }}">
                            <h5 class="card-title">{{ course.name }}</h5>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
