{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.courses.show'|trans({'%courseName%': course.name}) }}
{% endblock %}

{% block body %}
    <div class="d-flex gap-3 mb-5 mt-5 align-items-center">
        <h1 class="custom-underline">{{ 'ui.page_header.courses.show'|trans({'%courseName%': course.name}) }}</h1>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ url('course_update', {'slug': course.slug}) }}" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                {{ "ui.action.edit.course"|trans }}
            </a>

            <a href="{{ url('course_delete', {'slug': course.slug}) }}" class="btn btn-danger">
                <i class="bi bi-trash"></i>
                {{ "ui.action.delete.course"|trans }}
            </a>
        {% endif %}
    </div>

    {% if course.description %}
        <p class="mb-5">{{ course.description }}</p>
    {% endif %}
    {% if nodes|length > 0 %}
        <div class="nodes">
            {% for node in nodes %}
                <div class="node{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if node.isCompleted == true %} completed-node{% endif %}">
                    {% if loop.first %}
                        <a class="inject-new-node inject-new-node--first"
                           href="{{ url('node_create', {'slug': course.slug }) }}"><i
                                    class="bi bi-patch-plus-fill"></i></a>
                    {% endif %}
                    <a class="node-link"
                       href="{{ url('node_show', {'slug': course.slug, 'nodeSlug': node.slug}) }}"
                    >
                        <div class="node__inner custom-background-color custom-color">
                            <div class="node-progress">{{ node.completedNodes }}/{{ node.totalNodes }}</div>
                            <h2>{{ node.name }}</h2>
                            <i class="{{ node.icon }}"></i>
                        </div>
                        {% if node.description %}
                            <p class="node-description">{{ node.description }}</p>
                        {% endif %}
                    </a>
                    <a class="inject-new-node"
                       href="{{ url('node_create', {'slug': course.slug, 'prevNodeId': node.id }) }}"><i
                                class="bi bi-patch-plus-fill"></i></a>
                </div>
            {% endfor %}

        </div>

    {% else %}
        <div class="container-fluid d-flex justify-content-center">
            <a class="inject-new-node inject-new-node--empty"
               href="{{ url('node_create', {'slug': course.slug }) }}"><i
                        class="bi bi-patch-plus-fill"></i></a>
        </div>
    {% endif %}
{% endblock %}