{% extends 'base.html.twig' %}

{% block title %}
    {{ 'ui.page_header.tasks.edit'|trans({"%name%": task.name }) }}
{% endblock %}

{% block body %}


    <div class="d-flex gap-3 mb-3 align-items-center">
        <h1>{{ 'ui.page_header.tasks.edit'|trans({"%name%": task.name }) }}</h1>
        {% if back_to_list_path|default(false) %}
            <a href="{{ url(back_to_list_path) }}" class="btn btn-link">
                {{ 'ui.action.back_to_list.course'|trans }}
            </a>
        {% endif %}
    </div>


    {{ form_start(form) }}
    {% if false == form.vars.valid %}
        {% include 'partials/_single_alert_message.html.twig' with {
            type: 'danger',
            message: 'message.form_error'|trans,
        } %}
    {% endif %}
    <div class="row">
        {{ form(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
